// Any variables in .node_modules/bootstrap/scss/_variables.scss can be changed here
// Example
// Overriding the colors and creating new ones
$primary: #286b3e;
$secondary: #a4c27d;
$tertiary: #ab8771; // created
$dark: #000000;
$light: #f6f2f1;

// Redefining the theme-colors
// These "keywords" can be used as bg-tertiary, text-tertiary classes and so on...
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "dark": $dark,
  "light": $light,
  "warning": lightYellow,
  "success": lightGreen,
);
