// Any new files you write under ./scss, import them above everything
@import "./colors";
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

// Write global styles above the imports!
$navbar-light-color: $primary;
$navbar-light-hover-color: $secondary;
$enable-negative-margins: true;
// $navbar-light-active-color: ?

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";

#index-background {
  position: fixed;
  z-index: -1;
}

@mixin index-animated-shown {
  position: relative;
  opacity: 1;
  transition: opacity 1s, bottom 1s, top 1s;
}

@mixin index-animated-hidden {
  position: relative;
  opacity: 0;
  transition: opacity 1s, bottom 1s, top 1s;
}

.top-animated-shown {
  @include index-animated-shown;
  bottom: 0px;
}

.top-animated-hidden {
  @include index-animated-hidden;
  bottom: 200px;
}

.bottom-animated-shown {
  @include index-animated-shown;
  top: 0px;
}

.bottom-animated-hidden {
  @include index-animated-hidden;
  top: 200px;
}

.stylistImg {
  object-fit: cover;
  border-radius: 0;
}
.activeLink {
  border-bottom: solid 2px $primary;
}

.col-3{
  font-family: 'Lora', serif;
}

h1{
  font-family: 'Lora', serif;
}

.font{
  font-family: 'Lora', serif;
}

* {
  font-family: 'Lora', serif;
}
